<?xml version="1.0" encoding="UTF-8"?>
<module id="3" version="2022112800">
  <modulename>page</modulename>
  <sectionid>2</sectionid>
  <sectionnumber>2</sectionnumber>
  <added>1777560881</added>
  <score>0</score>
  <indent>0</indent>
  <visible>1</visible>
  <visibleoncoursepage>1</visibleoncoursepage>
  <completion>1</completion>
  <completionview>0</completionview>
  <completionexpected>0</completionexpected>
</module>